.navbar {
    display: grid;
}
.navbar__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;

    max-width: 90rem;
    padding: 0;
}
.navbar__logo {
    width: 120px;
    height: 100px;
}
.navbar__text {
    margin-top: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 30px;
}
.navbar__text-letters {
    background: #000000;
    color: #ffffff;
    text-transform: lowercase;
}
.navbar__text-letters:before {
    content: "";
    padding-top: 100%;
  }
.navbar__item {
    list-style-type: none;
}
.navbar__link {
    display: inline-block;
    margin-top: 8px;
    
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    
    transition: 1s cubic-bezier(.165, .84, .44, 1);
}
.navbar__link:hover {
    color: #ffffff;
    background: #000000;
}